# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# pytest cache and reports
.pytest_cache/
allure-results/
reports/

# IDE-specific files
.idea/
.vscode/
.DS_Store
